# ===========================
# Visual Studio & MSBuild
# ===========================
## Build folders and intermediate files
Debug/
Release/
x64/
Win32/
ARM/
ARM64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.tlog
*.lastbuildstate
*.cache
*.idb
*.sdf
*.opensdf
*.ipch
*.res
*.manifest
*.ilk
*.pdb
*.exp
*.lib
*.obj

## User and Cache Files VS
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
.vs/
*.cache

# ===========================
# OS and Editors
# ===========================
Thumbs.db
.DS_Store
*.swp
*~

# ===========================
# Package managers
# ===========================
packages/
*.nupkg
.nuget/
vcpkg/
build/

# ===========================
# Tests and Coverage
# ===========================
*.coverage
*.coveragexml
_NCrunch_*
.nCrunch*